name: CI/CD - Node App to Kubernetes

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    # env:
    #   REGISTRY: docker.io
    #   IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/node-web-app

    # steps:
    # # ----------------------------------------------------
    # # 1. Checkout Code
    # # ----------------------------------------------------
    # - name: Checkout repo
    #   uses: actions/checkout@v3

    # # ----------------------------------------------------
    # # 2. Setup Node.js
    # # ----------------------------------------------------
    # - name: Setup Node.js
    #   uses: actions/setup-node@v4
    #   with:
    #     node-version: 18

    # # ----------------------------------------------------
    # # 3. Install Dependences
    # # ----------------------------------------------------
    # - name: Install dependencies
    #   run: npm ci

    # # ----------------------------------------------------
    # # 4. Run Tests (Skip if none)
    # # ----------------------------------------------------
    # - name: Run tests
    #   run: npm test

    # # ----------------------------------------------------
    # # 5. Log in to Docker Hub
    # # ----------------------------------------------------
    # - name: Login to Docker Hub
    #   uses: docker/login-action@v2
    #   with:
    #     username: ${{ secrets.DOCKERHUB_USERNAME }}
    #     password: ${{ secrets.DOCKERHUB_TOKEN }}

    # # ----------------------------------------------------
    # # 6. Build & Push Image with version tag
    # # ----------------------------------------------------
    # - name: Build & Push Docker Image
    #   uses: docker/build-push-action@v4
    #   with:
    #     push: true
    #     tags: |
    #       ${{ env.IMAGE_NAME }}:latest
    #       ${{ env.IMAGE_NAME }}:${{ github.sha }}

    # # ----------------------------------------------------
    # # 7. Setup kubectl
    # # ----------------------------------------------------
    # - name: Setup Kubectl
    #   uses: azure/setup-kubectl@v3

    # # ----------------------------------------------------
    # # 8. Configure Kubernetes (KUBECONFIG)
    # # ----------------------------------------------------
    # - name: Use kubeconfig
    #   run: |
    #     mkdir -p ~/.kube
    #     echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

    # # ----------------------------------------------------
    # # 9. Update Deployment Image
    # # ----------------------------------------------------
    # - name: Update deployment to new image
    #   run: |
    #     kubectl set image deployment/node-web-app node-web-app=${{ env.IMAGE_NAME }}:${{ github.sha }} --record

    # # ----------------------------------------------------
    # # 10. Monitor Rollout
    # # ----------------------------------------------------
    # - name: Verify rollout
    #   run: |
    #     kubectl rollout status deployment/node-web-app
